<!DOCTYPE html
          PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head id="hdefault">
    <meta charset="utf-8" />
    <meta name="description" content="#" />
    <meta name="google-site-verification" content="aZ6rvhYofRdrFiCsZ2SBQwnqnSfSX6-0NQikU8ptcOM" />



    <title>
        Bảo hiểm tai nạn
    </title>
    <link type="image/x-icon" rel="shortcut icon" href="~/img/logo.png" />


    <style type="text/css">
        .breadcumb {
            display: none
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/cus.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ress.css" />
    <meta name="keywords"
          content="bảo hiểm sức khỏe, bảo hiểm sức khỏe toàn diện, mua bảo hiểm sức khỏe, bảo hiểm thai sản, mua bảo hiểm thai sản, bao hiem suc khoe, bao hiem thai san" />
</head>
<body>
    <section class="top">
        <div class="container">

            <nav class="nav-top border-right-nav-top">
            </nav>
            <nav class="nav-top nav-top1">
                <li><a alt="" href="#">Giới thiệu</a></li>
                <li><a alt="" href="#">Khuyến mại</a></li>
                <li><a alt="" href="#">Liên hệ</a><br /></li>
            </nav>
        </div>
    </section>



    <div class="container">
        <ul class="tab-pro">
            <li class="nav-item active"><a href="#">Tính phí</a></li>
        </ul>
    </div>
    <!-- InstanceBeginEditable name="main-content" -->
    <section class="main-content">
        <form action="/CustomerUser/DoPayment" method="post">
            <div class="container">
                <div class="row">
                    <div class="hd-info-pro">Tính phí bảo hiểm</div>
                    <div class="box-border-pro">
                        <div class="mes-frm">Nhập thông tin người tham gia bảo hiểm để tính phí:</div>
                        <div class="frm frmpro">
                            <div class="form-group">
                                <div class="row">
                                    <label for=""
                                           class="col-lg-4 col-sm-12 col-form-label pad-0 col-form-label-first">
                                        Số người
                                        tham gia bảo hiểm:
                                    </label>
                                    <div class="col-lg-8">
                                        <input name="person" value="" id="person" class="form-control txt"
                                               placeholder="Số người tham gia" type="number" min="1" style="width:60%"
                                               required=required />
                                        <i class="pad-top-5">
                                            <span id="" style="color:Red;display:none;">
                                                Bắt buộc
                                                phải nhập số người tham gia
                                            </span>
                                            <span id="" style="color:Red;display:none;">
                                                Số người
                                                không hợp lệ
                                            </span>
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label for="ddlSI" class="col-lg-4 col-sm-12 col-form-label col-form-label-first">
                                        Số
                                        tiền bảo hiểm:
                                    </label>
                                    <div class="col-lg-8">
                                        <select name="money" id="money" class="custom-select my-1 mr-sm-2 txt"
                                                style="width:60%" required=required>
                                            <option value="" selected="selected">-- Chọn số tiền BH --</option>
                                            <option value="100000000">100 triệu đồng</option>
                                            <option value="90000000">90 triệu đồng</option>
                                            <option value="80000000">80 triệu đồng</option>
                                            <option value="70000000">70 triệu đồng</option>
                                            <option value="60000000">60 triệu đồng</option>
                                            <option value="50000000">50 triệu đồng</option>
                                            <option value="40000000">40 triệu đồng</option>
                                            <option value="30000000">30 triệu đồng</option>
                                            <option value="20000000">20 triệu đồng</option>
                                            <option value="10000000">10 triệu đồng</option>

                                        </select>
                                        <label class="col-form-label col-form-label-first">/người</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group"
                                 style="border-bottom:solid 1px #d7d7d7;border-top:solid 1px #d7d7d7">
                            </div>
                            <div class="form-group" style="border-bottom:solid 1px #d7d7d7">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-2-3">
                                        <div><strong>&nbsp;</strong></div>
                                        <div>
                                            Theo <a href="https://baohiemtructuyen.com.vn/BsioData/san-pham/tai-nan-24/0337-Bang-ti-le-tra-tien-thuong-tat.pdf"
                                                    target="_blank" alt="" style="color: #5548C7">
                                                Bảng tỉ lệ trả tiền thương
                                                tật
                                            </a>
                                        </div>
                                        <div>
                                            Nếu STBH <= 20 triệu: Theo <a href="https://baohiemtructuyen.com.vn/BsioData/san-pham/tai-nan-24/0337-Bang-ti-le-tra-tien-thuong-tat.pdf"
                                                                          target="_blank" alt="" style="color: #5548C7">
                                                Bảng tỉ lệ trả tiền thương
                                                tật
                                            </a><br />
                                            Nếu STBH &gt; 20 triệu: Theo chi phí thực tế, không quá vết thương theo
                                            <a href="https://baohiemtructuyen.com.vn/BsioData/san-pham/tai-nan-24/0337-Bang-ti-le-tra-tien-thuong-tat.pdf"
                                               target="_blank" alt="" style="color: #5548C7">
                                                Bảng tỉ lệ trả tiền
                                                thương tật
                                            </a>
                                        </div>
                                        <div class="c15"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="text-center mr-top-20">
                                    <strong>Tổng phí thực thu :</strong>
                                    <p class="price-sum"><span id="totalAmount" value="totalAmount" name="totalAmount" runat="server"></span></p>
                                    <input type="submit" name="" value="Đặt mua" id=""
                                           class="btn-pro-buynow hvr-forward" ="      />
                                </div>

                            </div>
                        </div>
                        <div class="box-chuy">
                            <div class="title-box-chuy"><i class="fa fa-bell" aria-hidden="true"></i> Hướng dẫn: </div>
                            <div class="cotent-box-chuy">
                                <div>
                                    <i class="fa fa-angle-right" aria-hidden="true"></i> Quý khách nhập <i>
                                        "Số người
                                        tham gia bảo hiểm"
                                    </i>, chọn <i>"Số tiền bảo hiểm"</i> theo nhu cầu, xem tổng
                                    phí website đề xuất, sau đó bấm nút <b>[Đặt mua]</b> để chuyển hoàn thành
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="c45"></div>
            </div>
        </form>
    </section>


    <div class="container" style="display:none">
        <div class="breadcumb">
            <ul>
                <li>
                    <a href="" alt="">
                        BẢO HIỂM TAI
                        NẠN 24/24
                    </a>
                </li>
                <li>Tính phí</li>
                <li><a href="#" alt="">Đăng nhập</a></li>
                <li><a href="#" alt="">Giao hàng & Thanh toán</a></li>
            </ul>
        </div>
        <div class="content_2col_right">
            <div id="" class="more_info">
                <p style="font-weight:bold">Hướng dẫn:</p>
                <ul>
                    <li>
                        Quý khách nhập &quot;<em>Số người tham gia bảo hiểm</em>&quot;, chọn &quot;<em>
                            Số tiền bảo
                            hiểm
                        </em>&quot; theo nhu cầu, xem tổng phí website đề xuất, sau đó bấm nút <strong>
                            [Đặt mua]
                        </strong> để hoàn thành
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_sidebar">

            <div class="support right" style="display:none">
                <h3 class="myriad_pro_semibold" title="Liên hệ hỗ trợ">
                    Liên hệ hỗ trợ
                </h3>
                <br />
                <ul>
                    <li class="hotline myriad_pro_semibold">0916186611</li>
                    <li class="phone">
                        02422200282<br />
                        <span>Máy lẻ: </span>120
                    </li>
                    <li class="mailto"><a href="">team5@gmail.com</a></li>


                </ul>
            </div>
        </div>
    </div>


    <section class="line-gray">
        <div class="container">
            <h2 class="title-pro text-center"><a href="">Trung tâm hỗ trợ khách hàng</a></h2>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box-bottom shadow hvr-float item-height">
                        <h3 class="hd-box-bottom hd-box-sup"><a href="#"><b>Các câu hỏi thường gặp</b></a></h3>
                        <div class="inner-box item-height">
                            <div class="intro-box-bottom">
                                Giải đáp các thắc mắc của khách hàng về sản phẩm & dịch vụ
                            </div>
                            <a href="#" class="btn-box-bottom">
                                Xem ngay <i class="fa fa-angle-right"
                                            aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="box-bottom shadow hvr-float item-height">
                        <h3 class="hd-box-bottom hd-box-truvan"><a href="#"><b>Truy vấn bồi thường online</b></a></h3>
                        <div class="inner-box item-height">
                            <div class="intro-box-bottom">
                                Hỗ trợ Khách hàng tra cứu thông tin/theo dõi tình trạng hồ sơ bồi thường 24/7
                            </div>
                            <a href="#" class="btn-box-bottom">
                                Xem ngay <i class="fa fa-angle-right"
                                            aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="box-bottom shadow hvr-float item-height">
                        <h3 class="hd-box-bottom hd-box-hot">
                            <a href="#">
                                <i class="fa fa-phone"
                                   aria-hidden="true"></i><b> Liên hệ hỗ trợ</b>
                            </a>
                        </h3>
                        <div class="inner-box item-height" style="font-size:19px">
                            <a class="hotline-box" href="#"></a><br />
                            <a class="hotline-box" href="#">190010jqk</a>
                            <div>Email: #</div><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-12">
                    <ul class="nav-footer">

                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Bảo mật & quyền riêng tư</a></li>
                        <li><a href="#">Chính sách đổi và trả hàng</a></li>
                        <li>
                            <a href="#">Hình thức thanh toán và giao hàng</a>
                        </li>
                        <li><a href="#">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-12">
                    <div class="linksmo">
                        <a href="#" rel="nofollow" target="_blank" class="hvr-float shadow">
                            <i class="fa fa-facebook facebook"></i>
                        </a>

                    </div>
                </div>
            </div>
            <div class="info-footer">
                <strong>Tổng Công ty Cổ phần Bảo hiểm </strong><br />
                ĐC: thành phố Hà Nội <br />
                ĐT:190010jqk <br />
            </div>
    </section>
    <script>

        let e = document.getElementById("money");
        e.addEventListener('change', () => {
            if (b.value != '' && e.value > 0) {
                total.innerHTML = (b.value * e.value)/250
                console.log(total);
            }
        });
        let b = document.getElementById("person");
        b.addEventListener('change', () => { console.log(b.value) });
        let total = document.getElementById("totalAmount");
;

    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Template Javascript -->
    <script src="js/myjs.js"></script>
</body>


</html>

